fastapi
uvicorn
requests
python-dotenv
langchain
langchain-nomic
langchain-pinecone
langchain-openai
langchain_community
nltk
jq
unstructured
tiktoken
pinecone
pandas
numpy
pillow
google-genai
beautifulsoup4
scikit-learn
rank_bm25